footer {
  background-color: #ff8fb8; /* ← 濃いめのピンク */
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  width: 100%;
}
.footer-inner {
	    display: flex;
		flex-direction: column; /* ← これで縦並びになる */
		align-items: center;    /* 中央揃え */
		text-align: center;
		width: 100%;

	}

.footer-inner img.logo {
    display: block;
	width: 100px;   /* ここを調整すればOK */
	margin: 20px auto;
}

.footer-links {
	display: flex;
	margin-top: 8px;
	text-decoration: none;
	font-size: 14px;
	flex-direction: column; /* ← これで縦並びになる */
	align-items: center;    /* 中央揃え */
	text-align: center;
	width: 100%;
}

.footer-links a {
color: #F7F7F7;
}